@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.price-neumorphic {
  border-radius: 46px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 12px 12px 37px #bfbfbf,
             -12px -12px 37px #ffffff;
}
